@import url('https://fonts.googleapis.com/css?family=Oswald:200');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: helvetica;
	z-index: -3;
	position: relative;
    background-color: #474E68;
}

p, h1, h2 {
	color: white;
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 50px;
	font-family: "Kanit", sans-serif;
	font-weight: 600;
}

.container {
	display: flex;
}

.bottom-margin {
	margin-bottom: 25px;
}

.front {
	position: absolute;
	padding-top: 10px;
	z-index: 5;
}

.caption {
	width: 100%;
	padding: 5%;
}

.center {
	text-align: center;
}

.dark {
	background-color: #404258;
}

.darker {
	background: #1D1F20;
}

#main {
	min-height: 100%;
	z-index: -2;
	padding: 105px 10px 25px 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1000px;
}


/* Gradient border - https://codepen.io/mike-schultz/pen/NgQvGO */

.gradient-border {
    --borderWidth: 3px;
	background-color: #404258;
    position: relative;
    border-radius: var(--borderWidth);
	margin-top: 50px;
	margin-bottom: 50px;
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 7s ease alternate infinite;
    background-size: 300% 300%;
	box-shadow: 0px 2px 5px black;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Navbar */

#navbar {
	background-color: #404258;
	height: 60px;
	font-size: 18px;
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	box-shadow: 0px 1px 15px black;
	position: fixed;
	width: 100%;
}

.nav-element, #nav-links a {
	padding: 16px;
}

a {
	color: white;
	text-decoration: none;
	z-index: 2;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightgray;
	text-decoration: underline;
}

a:active {
	color: darkgray;
	text-decoration: none;
}

.active-link {
	color: darkgray !important;
}

/* Popular Tab */

#popular {
	height: 615px;
	padding-bottom: 15px;
}

#popular-container {
	padding: 50px;
	display: flex;
	gap: 50px;
	overflow-x: scroll;
	scrollbar-color: #404258 #474E68;
}

.popular-tab-item {
	height: 500px;
	width: 400px;
	background-color: #474E68;
	padding: 20px;
	box-shadow: 0px 2px 15px black;
	border-radius: 10px;
}

.side-image {
	height: 360px;
	width: 360px;
	object-fit: contain;
}

/* Social Links */

.socials {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.socials a img {
	aspect-ratio: 1;
	width: 50px;
}

.social-link {
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

/* Product Page */

.buy-page-image {
	max-width: 100%;
}

#product-page {
	background-color: #404258;
}

#product-caption {
	background-color: #404258;
	padding: 50px;
}

button {
	margin: 20px 0;
	padding: 10px;
	border-radius: 20px;
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Shop Page */

#shop-list {
	width: 100%;
}

.shop-item {
	margin: 20px 0;
	display: flex;
	align-items: center;
	background-color: #404258;
	flex-wrap: wrap;
	box-shadow: 0px 2px 15px black;
}

.shop-item p, .shop-item h2 {
	padding: 20px;
}

.shop-item p {
	padding-right: 50px;
}

.shop-image {
	margin-right: auto;
	max-height: 200px;
	max-width: 100%;
}

/* Footer */

#footer {
	background-color: #6B728E;
	padding: 25px;
	font-size: 10px;
	text-align: center;
	margin-top: auto;
}

#contact-us {
	padding: 20px;
	display: block;
}